# **My work**

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib
%matplotlib inline
from sklearn.ensemble import RandomForestClassifier as RFC
from sklearn.ensemble import AdaBoostClassifier as AdaBoost
from sklearn.multiclass import OneVsRestClassifier
from sklearn.svm import SVC
from sklearn.metrics import hamming_loss
from sklearn.decomposition import PCA
from sklearn.linear_model import LogisticRegression
import csv
import pandas as pd
import numpy as np
import os
import seaborn as sns

In [ ]:
df_movies = pd.read_csv('IMDb movies.csv')
df_movies.head()

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

  imdb_title_id  ... reviews_from_critics
0     tt0000009  ...                  2.0
1     tt0000574  ...                  7.0
2     tt0001892  ...                  2.0
3     tt0002101  ...                  3.0
4     tt0002130  ...                 14.0

[5 rows x 22 columns]

In [ ]:
df = df_movies[['title','description', 'genre']]
df.head()

                         title  ...                      genre
0                   Miss Jerry  ...                    Romance
1  The Story of the Kelly Gang  ...    Biography, Crime, Drama
2               Den sorte drøm  ...                      Drama
3                    Cleopatra  ...             Drama, History
4                    L'Inferno  ...  Adventure, Drama, Fantasy

[5 rows x 3 columns]

In [ ]:
df.dtypes

title          object
description    object
genre          object
dtype: object

In [ ]:
df['description'] = df['description'].astype("string")

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
df = df[df.description_length > 5]

In [ ]:
to_drop = ['Adult', 'Documentary', 'News', 'Reality-TV']

In [ ]:
for d in to_drop:
    df = df[~df.genre.str.contains(d)]

In [ ]:
df.shape

(85847, 3)

In [ ]:
df['genre'] = df['genre'].apply(lambda x : x.split(', '))

df.head()

                         title  ...                        genre
0                   Miss Jerry  ...                    [Romance]
1  The Story of the Kelly Gang  ...    [Biography, Crime, Drama]
2               Den sorte drøm  ...                      [Drama]
3                    Cleopatra  ...             [Drama, History]
4                    L'Inferno  ...  [Adventure, Drama, Fantasy]

[5 rows x 3 columns]

In [ ]:
import re
# function for text cleaning 
def clean_text(text):
    # remove backslash-apostrophe 
    text = re.sub("\'", "", text) 
    # remove everything except alphabets 
    text = re.sub("[^a-zA-Z]"," ",text) 
    # remove whitespaces 
    text = ' '.join(text.split()) 
    # convert text to lowercase 
    text = text.lower() 
    
    return text

Model 1

In [ ]:
from sklearn.preprocessing import MultiLabelBinarizer

multilabel_binarizer = MultiLabelBinarizer()
multilabel_binarizer.fit(df['genre'])
y = multilabel_binarizer.transform(df['genre'])

In [ ]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(df['description'], y, test_size=0.2, random_state=9)

In [ ]:
from sklearn.naive_bayes import GaussianNB
nb = OneVsRestClassifier(GaussianNB(), n_jobs=-1)
nb.fit(x_train, y_train)
nb_pred = nb_mdl.predict(x_test)
hl = hamming_loss(y_test, nb_pred)
print("Naive Bayes")
print("Hamming Loss of NB is ") + str(hl)

TypeError: ignored

# **Pre-Process**

In [ ]:
import pandas as pd
import numpy as np
import os
import seaborn as sns
from sklearn.metrics import f1_score, accuracy_score, confusion_matrix, recall_score
import matplotlib.pyplot as plt

In [ ]:
df_movies = pd.read_csv('IMDb movies.csv')
df_movies.head()

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

  imdb_title_id  ... reviews_from_critics
0     tt0000009  ...                  2.0
1     tt0000574  ...                  7.0
2     tt0001892  ...                  2.0
3     tt0002101  ...                  3.0
4     tt0002130  ...                 14.0

[5 rows x 22 columns]

In [ ]:
df = df_movies[['title','description', 'genre']]
df.head()

                         title  ...                      genre
0                   Miss Jerry  ...                    Romance
1  The Story of the Kelly Gang  ...    Biography, Crime, Drama
2               Den sorte drøm  ...                      Drama
3                    Cleopatra  ...             Drama, History
4                    L'Inferno  ...  Adventure, Drama, Fantasy

[5 rows x 3 columns]

In [ ]:
df = df.dropna()

In [ ]:
df.head()

                         title  ...                      genre
0                   Miss Jerry  ...                    Romance
1  The Story of the Kelly Gang  ...    Biography, Crime, Drama
2               Den sorte drøm  ...                      Drama
3                    Cleopatra  ...             Drama, History
4                    L'Inferno  ...  Adventure, Drama, Fantasy

[5 rows x 3 columns]

In [ ]:
df['description_length'] = df['description'].apply(lambda x : len(x.split(' ')))

In [ ]:
df.shape

(83740, 4)

In [ ]:
df['description'].describe()

count            83740
unique           83611
top       The story of
freq                15
Name: description, dtype: object

In [ ]:
df = df[df.description_length > 5]

In [ ]:
df.shape

(83311, 4)

In [ ]:
to_drop = ['Adult', 'Documentary', 'News', 'Reality-TV']

In [ ]:
for d in to_drop:
    df = df[~df.genre.str.contains(d)]

In [ ]:
df.shape

(83304, 4)

In [ ]:
df['genre'] = df['genre'].apply(lambda x : x.split(', '))

df.head()

                         title  ... description_length
0                   Miss Jerry  ...                  9
1  The Story of the Kelly Gang  ...                  9
2               Den sorte drøm  ...                 32
3                    Cleopatra  ...                 18
4                    L'Inferno  ...                 29

[5 rows x 4 columns]

In [ ]:
import re
# function for text cleaning 
def clean_text(text):
    # remove backslash-apostrophe 
    text = re.sub("\'", "", text) 
    # remove everything except alphabets 
    text = re.sub("[^a-zA-Z]"," ",text) 
    # remove whitespaces 
    text = ' '.join(text.split()) 
    # convert text to lowercase 
    text = text.lower() 
    
    return text

In [ ]:
df['description'] = df['description'].apply(lambda x: clean_text(x))

In [ ]:
from sklearn.preprocessing import MultiLabelBinarizer

multilabel_binarizer = MultiLabelBinarizer()
multilabel_binarizer.fit(df['genre'])
y = multilabel_binarizer.transform(df['genre'])

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer

tfidf_vectorizer = TfidfVectorizer(max_df=0.8, max_features=10000)

In [ ]:
from sklearn.model_selection import train_test_split
train_data, test_data, y_train, y_test = train_test_split(df['description'], y, test_size=0.2, random_state=9)

In [ ]:
X_train_tfidf = tfidf_vectorizer.fit_transform(train_data)
X_test_tfidf = tfidf_vectorizer.transform(test_data)

In [ ]:
X_train_tfidf.shape, X_test_tfidf.shape, y_train.shape, y_test.shape

((66643, 10000), (16661, 10000), (66643, 21), (16661, 21))

In [ ]:
from sklearn.metrics import precision_recall_curve
from sklearn.metrics import average_precision_score
def find_avg_precision(y_test, y_score):
    # For each class
    precision = dict()
    recall = dict()
    average_precision = dict()
    for i in range(21):
        precision[i], recall[i], _ = precision_recall_curve(y_test[:, i],
                                                            y_score[:, i])
        average_precision[i] = average_precision_score(y_test[:, i], y_score[:, i])

    # A "micro-average": quantifying score on all classes jointly
    precision["micro"], recall["micro"], _ = precision_recall_curve(y_test.ravel(),
        y_score.ravel())
    average_precision["micro"] = average_precision_score(y_test, y_score,
                                                        average="micro")
    print('Average precision score, micro-averaged over all classes: {0:0.2f}'
        .format(average_precision["micro"]))
    return average_precision, precision, recall
# average_precision, precision, recall = find_avg_precision(y_test, y_score)

In [ ]:
def plot_roc(precision, recall):
    plt.figure()
    plt.step(recall['micro'], precision['micro'], where='post')

    plt.xlabel('Recall')
    plt.ylabel('Precision')
    plt.ylim([0.0, 1.05])
    plt.xlim([0.0, 1.0])
    plt.title(
        'Average precision score, micro-averaged over all classes: AP={0:0.2f}'
        .format(average_precision["micro"]))

In [ ]:
n_classes = len(multilabel_binarizer.classes_)

## Naive_bayes

In [ ]:
from sklearn.naive_bayes import GaussianNB
nb = OneVsRestClassifier(GaussianNB(), n_jobs=-1)
nb.fit(train_data, y_train)
nb_pred = nb_mdl.predict(test_data)

In [ ]:
print(f1_score(y_test, nb_pred, average="micro"))
y_score = clf.decision_function(X_test_tfidf)
print(recall_score(y_test, nb_pred, average='micro'))

In [ ]:
average_precision, precision, recall = find_avg_precision(y_test, y_score)

In [ ]:
plot_roc(precision, recall)

In [ ]:
# lr_pred = lr_mdl.predict(X_test_tfidf)
# hl = hamming_loss(y_test, lr_pred)
# print("Logistic Regression")
# print("Hamming Loss of LR is " + str(hl))

In [ ]:
# from itertools import cycle
# # setup plot details
# colors = cycle(['navy', 'turquoise', 'darkorange', 'cornflowerblue', 'teal'])

# plt.figure(figsize=(7, 8))
# f_scores = np.linspace(0.2, 0.8, num=4)
# lines = []
# labels = []
# for f_score in f_scores:
#     x = np.linspace(0.01, 1)
#     y = f_score * x / (2 * x - f_score)
#     l, = plt.plot(x[y >= 0], y[y >= 0], color='gray', alpha=0.2)
#     plt.annotate('f1={0:0.1f}'.format(f_score), xy=(0.9, y[45] + 0.02))

# lines.append(l)
# labels.append('iso-f1 curves')
# l, = plt.plot(recall["micro"], precision["micro"], color='gold', lw=2)
# lines.append(l)
# labels.append('micro-average Precision-recall (area = {0:0.2f})'
#               ''.format(average_precision["micro"]))

# for i, color in zip(range(n_classes), colors):
#     l, = plt.plot(recall[i], precision[i], color=color, lw=2)
#     lines.append(l)
#     labels.append('Precision-recall for class {0} (area = {1:0.2f})'
#                   ''.format(i, average_precision[i]))

# fig = plt.gcf()
# fig.subplots_adjust(bottom=0.25)
# plt.xlim([0.0, 1.0])
# plt.ylim([0.0, 1.05])
# plt.xlabel('Recall')
# plt.ylabel('Precision')
# plt.title('Extension of Precision-Recall curve to multi-class')
# plt.legend(lines, labels, prop=dict(size=14), bbox_to_anchor=(1.05, 1), loc='upper left')
# # plt.legend(handles=[p1, p2], title='title', bbox_to_anchor=(1.05, 1), loc='upper left', prop=fontP)


# plt.show()